* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f6fa;
}

.app__container {
  position: relative;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  margin-bottom: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: 990px) {
  .app {
    flex-direction: row;
    padding-top: 40px;
  }
  .app__left {
    flex: 0.9;
    margin-bottom: unset;
    margin-right: 20px;
  }

  .app__right {
    flex: 0.4;
  }
}
